/****************************************
            	GENERAL
****************************************/

body {   
    font: 15px/1.5 Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.container1 {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.underline {
    width: 400px;
    height: 2px;  
    background-image: linear-gradient(to right, #231f20, #eaeaea 50%, #231f20 100%);
}

.topic {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}

.topic h2 {
    margin: auto;
    font-size: 35px;
    border-bottom: #343338 3px solid;
    width: 70%;
}

.topic h5 {
    font-size: 25px;
    margin-top: 15px;
}



/****************************************
            	BUTTONS
****************************************/

.button1 {
    height: 38px;
    background: #ff3333;
    border: 0;
    color:#ffffff;
    font-weight: bold;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.button2 {
    height: 32px;
    background: #ff3333;
    border: 0;
    color:#ffffff;
    font-weight: bold;
    padding: 1px 45px 5px 45px;
}

#backBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 2px;
    z-index: 99; 
    border: none; 
    outline: none; 
    cursor: pointer; 
}

#backBtn img {
    width:25px;
}


/****************************************
            	HEADER
****************************************/

header {
    background: #343338;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: darkorange 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header ul {
    margin: 0;
    padding: 0;    
}

header li {
    display: inline;
    padding: 0 10px 0 10px;
}

header #nazwa {
    float: left;
}

header #nazwa h1 {
    margin: 0;
    padding: 0 10px 0 10px;
}

header nav {
    float: right;
    margin-top: 10px;
    padding: 0 20px 0 20px;
}

header .highlight, header .current a {
    color: #ff3333;
    font-weight: bold;
}

header a:hover {
    cursor: pointer;
    color: #cccccc;
    font-weight: bold;
}



/****************************************
            	SHOWCASE
****************************************/

#showcase {
    min-height: 850px;
    background: url('../img/showcase.jpg') no-repeat 0 -250px;
    text-align: right;
    color: #ffffff;
    opacity: 0.8;
}

#showcase h1 { 
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 4em;
    line-height: 70px;
}

#showcase p {
    margin-top: 50px;
    text-align: right;
    font-size: 30px;
}



/****************************************
            	ABOUT
****************************************/

#about {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    margin-left: 1%;
    padding-top: 200px;
    text-align: left;
    width: 90%;
}

#about h2 {
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: -4px;
     
}

#about p {
    max-width: 850px;
    margin: 5px;
    text-align: left;
}



/****************************************
            	NEWS
****************************************/

#news {
    padding: 16px 36px 16px 36px;
    color:#ffffff;
    background: #343338;
}

#news h1 {
     float: left;
}

#news form {
     float: right;
     margin-top: 15px;
}

#news input[type="email"] {
     padding: 4px;
     height: 25px;
     width: 180px;
}



/****************************************
                BOXES
****************************************/

#boxes {
     margin-top: 50px;
     padding-bottom: 40px;
}

#boxes .box, .box2 {     
     padding-top: 40px;
     padding-bottom: 40px;
     float: left;
     text-align: center;
     width: 25%;
     height: 150px;
}

#boxes .box i {
    font-size: 80px;
    color: #e67300;
    position: relative;
    transition: all 0.6s; 
}

#boxes .box i:hover {
    font-size: 90px;
    color: #ff0000;
}

#boxes .box2 i {
    font-size: 80px;
    color: #ff0000;
    position: relative;
    transition: all 0.6s; 
}

    #boxes .box2 i:hover {
    font-size: 90px;
    color: #e67300;
}



/****************************************
            	PROJECTS
****************************************/

#projects {
    margin-top: 30px;
}

#proj {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}

#proj img {
    float: left;
    border: #ff3333 4px solid;    
    box-shadow: 15px 15px 25px #4d4d4d;
    width: 37%;
    margin-bottom: 60px;
}

#proj img:hover{
    width: 40%;
    transition: all 0.9s; 
}



/****************************************
            PROJECT-INFO
****************************************/

#info {
    font-size: 16px;
    float: right;
    text-align: center;
    width: 57%;
    padding: 0;
    margin-top: 3%;
}

#info .link {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin: 15px;
    width: 12%;
}

#info .link i, img {
    margin-top: 20px;
    position: relative;
    width: 40px;
}

#info .link i {
    font-size: 40px;
}



/****************************************
            	CONTACT
****************************************/

#contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 60px 0 60px 0;
    color: #ffffff;
    background-color: #4d4d4d;
}

#contact h2 {
    margin-bottom: 90px;
}

#contact .container1 {  
    width: 90%;
}

#foto {    
    float: left;
    width: 30%;
}

#foto img {  
    width: 160px;
}

#contactlink {
	margin-left: 110px;
    text-align: left;  
    float: left;
    width: 35%;
}

#contactlink h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;    
}

.cont-icon {
    margin-left: 5px;
    width: 23px;
    border: #ffffff 1px solid;
    border-radius: 5px;
}

aside#data {
    text-align: left;
    float: left;
    width: 55%;
}



/****************************************
            	FOOTER
****************************************/

footer {
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    color: #ffffff;
    background-color: #343338;
}